.homeContainer{
  background-image: url("/assets/images/imagesHome/backgroundImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  &__box{
    text-align: center;
    padding: 14vw;
   &__title{
      margin-bottom: 10vw;
   }
    &__link{
      font-size: 23px;
      text-decoration: none;
      color: $light-text-color-primary;
      padding: 1.8vw;
      background-color: #FAAF48;
      opacity: 0.6;
      border-radius: 20px;
      transition: opacity 1s;
    }
    &__link:hover{
      opacity: 1;

    }
  }

  &__awards{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    img{
      width: 16vw;
    }
  }

}