.homeContainer{
  background-image: url("/assets/images/imagesHome/backgroundImage.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__box{
    text-align: center;
    margin-bottom: 4vw;
   &__title{
     margin-bottom: 8vw;
   }
    &__link{
      font-size: 23px;
      text-decoration: underline;
      color: $light-text-color-primary;
      padding: 2vw;
      background-color: $color-primary;
      opacity: 0.6;
      border-radius: 40px;
      transition: opacity 1s;
    }
    &__link:hover{
      opacity: 1;

    }
  }
}