.containerRyanGosling{
    position: relative;
    justify-content: space-between;
    display: flex;
    z-index: 0;
    right: 0;
    left: 0;
    top: 0;
    &__imageRyan{
        width: 50%;
    }
    &__descriptionRyan{
        font-family: $font-default;
        font-size: $font-size-title;
        background-color: #6A2FB3;
        h2{
            margin-top: 100px;
        }
        p{
            margin: 14px 100px;
            color: $light-text-color-primary;
        }
    }
}

.containerEmmaStone{
    position: relative;
    justify-content: space-between;
    display: flex;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0px;
    &__imageEmma{
        width: 50%;
    }
    &__descriptionEmma{
        font-family: $font-default;
        font-size: $font-size-title;
        background-color: #03084A;
        h2{
            margin-top: 100px;
        }
        p{
            margin: 14px 100px;
            color: $light-text-color-primary;
        }
    }
}