h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  display: none;
}

h2 {
  font-family: $font-primary;
  font-size: $font-size-extra;
  color: $light-text-color-primary;
}

h3 {
  font-family: $font-default;
  font-size: $font-size-extra;
  color: $light-text-color-primary;
}

h4 {
  font-family: $font-default;
  font-size: $font-size-s-extra;
  color: $light-text-color-placeholder;
  font-weight: 400;
}

p {
  color: $light-text-color-secondary;
  font-size: $font-size-title;
  line-height: 1.5;
  margin: 0;
}

p.small {
  font-size: $font-size-body;
}

p.roleText{
  font-weight: bold;
}