.musicPageContainer{
    padding: 100px;
    background-image: url("/assets/images/imagesMusique/musiqueBackground.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h2{
        margin-bottom: 37px;
    }
}
.musicPageContainer__Sub{
    display: flex;
    justify-content: space-between;
    &__leftBox{
        width: 70%;
        iframe{
            border: none;
            width: 80%;
            height: 25vw;
            border-radius: 5px;
        }
        &__iconsBox{
            margin-top: 37px;
            display: flex;
            align-items: center;
            a {
                margin-right: 37px;
                display: inline-block;
            }
        }
    }
    &__rightBox{
        width: 30%;
        display: flex;
        flex-direction: column;

        .albumCover{
           width: 100%;
           border-radius: 5px;
        }
        
        &__iconsBox{
            text-align: center;
            margin-top: 37px;
        }
    }
}
