.homeContainer{
    height: 100vh;
    padding: 37px;
    &__box{
     &__title{
        font-size: 37px;
     }
      &__link{
        font-size: 23px;
        text-decoration: none;
        color: $light-text-color-primary;
        padding: 1.8vw;
        opacity: 0.6;
        border-radius: 20px;
        transition: opacity 1s;
        display: inline-block;
        width: 24vw;
        img{
          width: 40%;
        }
      }
      &__link:hover{
        opacity: 1;
  
      }
    }
  
    &__awards{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
  
      img{
        width: 16vw;
      }
    }
  
  }