.homeContainer{
    height: 100vh;
    padding: 37px;
    &__box{
        
     &__title{
        font-size: 37px;
        margin: 0;
     }
      &__link{
        font-size: 23px;
        text-decoration: none;
        color: $light-text-color-primary;
        margin-top: 30vw;
        padding: 0;
        opacity: 0.6;
        border-radius: 20px;
        transition: opacity 1s;
        display: inline-block;
        text-align: center;
        width: 50%;
        img{
          width: 80%;
        }
      }
      
    }
  
    &__awards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
  
      img{
        width: 38vw;
        padding-top: 4vw;
      }
    }
  
  }