@import "_config.scss";

@import "partials/header";
@import "partials/footer";
@import "partials/fonts";
@import "partials/buttons";
@import "partials/experience";
@import "partials/casting";
@import "partials/acceuil";
@import "partials/musicpage";
@import "partials/synopsis";


body,
html {
  height: 100%;
}

body {
  margin: 0;
  background-color: $background-color;
  color: $light-text-color-secondary;
  font-family: $font-default;
  font-size: $font-size-body;
}